new project

<%= form_for @project do |f| %>
  <p>
  	<%= f.label :name , "Your name" %>
  	<%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :description, "description about project" %>
  	<%= f.text_field :description %>
  </p>
  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>